@import "./mixins.scss";
@import "./media-queries.scss";

$flagWidth: 100px;
$flagWidthMobile: 70px;

body,
.raleway {
    font-family: Raleway, Arial, sans-serif;
}

body {
    overflow-x: hidden;
    @include desktop {
        overflow: hidden;
    }
}

.map-container {
    background-image: url("../assets/world_map.jpg");
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0.35;
    background-size: cover;
    background-position: center;
}

.timer {
    font-family: Arial, Helvetica, sans-serif;
}

.flag {
    width: 100px;
    cursor: pointer;
    margin: 10px;
}

.level-selection-text,
.quiz-intro {
    text-align: center;
    font-size: 20px;
    width: 80%;
    margin: 30px auto;
    position: relative;
    z-index: 10;
}

.level-selection-text {
    position: relative;
    font-weight: 800;
    margin-top: 60px;
    @include tablet {
        margin-top: 120px;
    }
}

.quiz-header {
    position: relative;
    z-index: 10;
    margin-top: 40px;
    @include tablet {
        padding-top: 150px;
    }
}
.level {
    text-transform: capitalize;
}

.country {
    cursor: pointer;
    margin: 10px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
}

h1 {
    text-align: center;
}

.country-name-container,
.flag-container {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    position: relative;
    z-index: 10;
}

.country-name-container {
    display: flex;
    flex-flow: wrap;
    width: 340px;
    margin: 0 auto;
    min-height: 200px;
    background: gainsboro;
    border-radius: 10px;
    align-items: center;
    border: 1px solid rgb(190, 186, 186);
    @include mobile {
        min-height: unset;
        width: calc(100% - 40px);
    }
}

.flag-container {
    position: relative;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-flow: wrap;

    @include mobile {
        margin-top: 40px;
    }

    @include tablet {
        width: 500px;
    }

    @include desktop {
        width: 650px;
    }
}

.flag-button {
    position: relative;
    border: 1px solid gray;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    height: $flagWidth;
    width: $flagWidth;
    background-color: #d3cbcb;
    z-index: 1000;
    @include mobile {
        height: $flagWidthMobile;
        width: $flagWidthMobile;
    }
}

.country,
.flag-button {
    &:hover:not(:disabled) {
        box-shadow: 5px 10px 8px #888888;
        transform: scale(1.075);
    }
    transition-property: transform;
    transition-duration: 0.3s;
}

.flag {
    border: 1px solid grey;
}

.selected {
    background-color: greenyellow;
}

.chosenCountry {
    position: absolute;
    width: $flagWidth;
    text-align: center;
    margin: 0 10px;
    @include mobile {
        width: $flagWidthMobile;
    }
}

.hide {
    display: none;
}

.paired {
    background-color: #66ccff;
}

.flag-button[disabled] {
    opacity: 0.6;
}

button[disabled] {
    cursor: not-allowed;
}

.flag-div {
    margin: 15px 5px 25px;
    @include mobile {
        margin: 0;
    }
}

.mark {
    display: none;
    margin: 0 auto;
}

.quiz-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 1000px;
    margin: 10px auto 0;
    padding-bottom: 70px;
    border-radius: 10px;
    @include mobile {
        grid-template-columns: 1fr;
        padding-bottom: 0;
    }
}

.main-container {
    grid-row: 3;
    grid-column: 2;
    width: 100%;

    @include mobile {
        grid-column: 1;
    }
}

.timer {
    text-align: right;
}

.App-header {
    margin-top: 30px;
    grid-column: 2;
    grid-row: 1;
    @include mobile {
        grid-column: 1;
        margin-top: 50px;
    }
}

.total-points {
    grid-column: 3;
    @include mobile {
        grid-column: 1;
    }
}

.total-points,
.timer {
    padding-top: 22px;
    font-weight: bold;
    @include mobile {
        text-align: center;
        margin-top: 90px;
        grid-row: 1;
    }
}

.timer {
    @include mobile {
        margin-top: 130px;
    }
}

.question-number {
    color: #0000ff;
    font-style: italic;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    grid-column: 2;
    grid-row: 2;
    @include mobile {
        grid-column: 1;
        margin-top: 60px;
        margin-bottom: 25px;
    }
}

.submit,
.next {
    @include button-style($green, $green, white, white, black);
    grid-column: 2;
    margin: 50px auto;
    display: block;
    position: relative;
    z-index: 10;
    @include mobile {
        margin: 35px auto;
    }
}

.selection-container a:last-child {
    margin-top: 30px;
}

.selection-container {
    z-index: 10;
}

.loading-icon {
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 100px);

    @include mobile {
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        width: 100px;
    }
}

.back-to-top__action__ring-bg {
    fill: none;
    stroke-width: 0.125rem;
}

.back-to-top__action__ring {
    fill: none;
    stroke-width: 0.125rem;
    stroke-linecap: butt;
    -webkit-animation: progress 0.3s ease-out forwards;
    animation: progress 0.3s ease-out forwards;
}

.pageDiv {
    height: 5000px;
    border: 1px solid black;
}

.timer-svg-container {
    position: relative;
    top: 0;
    right: 120px;
    width: 100px;
    grid-column: 2;
    grid-row: 1;
    @include mobile {
        grid-column: 1;
        margin: 0 auto;
        right: 0;
    }
}

.timer-svg {
    position: relative;
    top: 82px;
    left: 40px;
    // transform: scale(-1,1);
    @include mobile {
        left: 0;
        top: 213px;
    }
}

.home-link {
    height: fit-content;
    z-index: 10;
    margin: 10px;
    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: blue;

        @include mobile {
            font-size: 20px;
        }
    }

    @include mobile {
        grid-row: 1;
        grid-column: 1;
        margin: 15px auto;
    }
}
