@import "./mixins.scss";

body,
.raleway {
    font-family: Raleway, Arial, sans-serif;
}

.timer {
    font-family: Arial, Helvetica, sans-serif;
}
$flagWidth: 100px;

.flag {
    width: 100px;
    cursor: pointer;
    margin: 10px;
}

.level {
    text-transform: capitalize;
}

.country {
    cursor: pointer;
    margin: 10px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
}

h1 {
    text-align: center;
}

.country-name-container,
.flag-container {
    display: flex;
    justify-content: center;
}

.country-name-container {
    display: flex;
    flex-flow: wrap;
    width: 340px;
    margin: 0 auto;
    min-height: 200px;
    background: gainsboro;
    border-radius: 10px;
    align-items: center;
    border: 1px solid rgb(190, 186, 186);
}

.flag-container {
    position: relative;
    margin-top: 50px;
    width: 650px;
    display: flex;
    flex-flow: wrap;
}

.flag-button {
    position: relative;
    border: 1px solid gray;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    height: $flagWidth;
    width: $flagWidth;
    background-color: #d3cbcb;
    z-index: 1000;
}

.country,
.flag-button {
    &:hover:not(:disabled) {
        box-shadow: 5px 10px 8px #888888;
        transform: scale(1.075);
    }
    transition-property: transform;
    transition-duration: 0.3s;
}

.flag {
    border: 1px solid grey;
}

.selected {
    background-color: greenyellow;
}

.chosenCountry {
    position: absolute;
    width: $flagWidth;
    text-align: center;
    margin: 0 10px;
}

.hide {
    display: none;
}

.paired {
    background-color: #66ccff;
}

.flag-button[disabled] {
    opacity: 0.6;
}

button[disabled] {
    cursor: not-allowed;
}

.flag-div {
    margin: 15px 5px 25px;
}

.mark {
    display: none;
    margin: 0 auto;
}

.quiz-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 1px solid grey;
    max-width: 1000px;
    margin: 10px auto 0;
    background-color: #eeebeb;
    padding-bottom: 70px;
    border-radius: 10px;
}

.main-container {
    grid-row: 3;
    grid-column: 2;
    width: 100%;
}

.timer {
    text-align: right;
}

.App-header {
    margin-top: 30px;
    grid-column: 2;
    grid-row: 1;
}

.total-points {
    grid-column: 3;
}

.total-points,
.timer {
    padding-top: 22px;
    font-weight: bold;
}

.question-number {
    color: rgb(100, 100, 100);
    font-style: italic;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    grid-column: 2;
    grid-row: 2;
}

.submit,
.next {
    @include button-style($green, $green, white, white, black);
    grid-column: 2;
    margin: 50px auto;
    display: block;
    // margin-top: 100px;
}

.selection-container a:last-child {
    margin-top: 30px;
}

.loading-icon {
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

.back-to-top__action__ring-bg {
    fill: none;
    stroke-width: 0.125rem;
}

.back-to-top__action__ring {
    fill: none;
    stroke-width: 0.125rem;
    stroke-linecap: butt;
    -webkit-animation: progress 0.3s ease-out forwards;
    animation: progress 0.3s ease-out forwards;
}

.pageDiv {
    height: 5000px;
    border: 1px solid black;
}

.svgContainer {
    position: relative;
    top: 0;
    right: 120px;
    width: 100px;
    grid-column: 2;
    grid-row: 1;
}

.timer-svg {
    position: relative;
    top: 82px;
    left: 40px;
    // transform: scale(-1,1);
}

.level-links {
    height: fit-content;
    z-index: 10;
    margin: 10px;
    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: blue;
    }
    // a {
    //     text-decoration: none;
    //     &:visited {
    //         color: blue;
    //     }
    // }
}
