$green: #4caf50;
$orange: #f8a60c;
$red: #ff6666;

@mixin div-style {
    border-radius: 5px;
    min-width: 250px;
    min-height: 40px;
    border: 1px grey solid;
}

@mixin button-style($bg-color, $border-color, $color, $hover-bg, $hover-color) {
    // @include div-style;

    background-color: $bg-color;
    color: $color;
    border: 2px solid $border-color;
    padding: 10px 8px;
    min-width: 250px;
    font-size: 16px;
    border-radius: 20px;
    transition-duration: 0.3s;

    cursor: pointer;

    &:hover {
        color: $hover-color;
        background-color: $hover-bg;
    }
}
