$flagWidth: 100px;

.flag {
    width: 100px;
    cursor: pointer;
    margin: 10px;
}

.country {
    cursor: pointer;
    margin: 10px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
}

h1 {
    text-align: center;
}

.country-name-container,
.flag-container {
    display: flex;
    justify-content: center;
}

.country-name-container {
    display: flex;
    flex-flow: wrap;
    width: 340px;
    margin: 0 auto;
    min-height: 200px;
    background: gainsboro;
    border-radius: 10px;
    align-items: center;
}

.flag-container {
    position: relative;
    margin-top: 100px;
}

.flag-button {
    border: 1px solid gray;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    height: $flagWidth;
    width: $flagWidth;
    background-color: rgb(235, 227, 227);
}

.country,
.flag-button {
    &:hover:not(:disabled) {
        box-shadow: 5px 10px 8px #888888;
        transform: scale(1.075);
    }
    transition-property: transform;
    transition-duration: 0.3s;
}

.flag {
    border: 1px solid grey;
}

.selected {
    background-color: greenyellow;
}

.chosenCountry {
    position: absolute;
    width: $flagWidth;
    text-align: center;
    margin: 0 10px;
}

.hide {
    display: none;
}

.paired {
    background-color: #66ccff;
}

.flag-button[disabled] {
    opacity: 0.6;
}

button[disabled] {
    cursor: not-allowed;
}

.flag-div {
    margin: 0 5px;
}

.mark {
    display: none;
    margin: 0 auto;
}

.quiz-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.main-container {
    grid-row: 3;
    grid-column: 2;
    width: 100%;
}

.timer {
    text-align: right;
    grid-column: 1;
    grid-row: 1;
}

.App-header {
    grid-column: 2;
}

.total-points {
    grid-column: 3;
}

.total-points,
.timer {
    padding-top: 20px;
    font-weight: bold;
}

.question-number {
    color: rgb(100, 100, 100);
    font-style: italic;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    grid-column: 2;
    grid-row: 2;
}

.submit,
.next {
    grid-column: 2;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
}
