.flag {
    width: 100px;
    cursor: pointer;
    margin: 10px;
}

.country {
    cursor: pointer;
    margin: 10px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
}

h1 {
    text-align: center;
}

.country-name-container,
.flag-container {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.country-name-container {
    display: flex;
    flex-flow: wrap;
    width: 340px;
    margin: 0 auto;
    min-height: 200px;
    background: gainsboro;
    border-radius: 10px;
    align-items: center;
}

.flag-container {
    position: relative;
    margin-top: 100px;
}

.flag-div {
    border: 1px solid gray;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-color: rgb(235, 227, 227);
}

.flag {
    border: 1px solid grey;
}

.selected {
    background-color: rgb(186, 245, 186);
}

.chosenCountry {
    position: absolute;
    width: 100px;
    text-align: center;
    margin: 0 10px;
}

.hide {
    display: none;
}

.paired {
    background-color: #66ccff;
}
